{% load staticfiles %}
<html>
    <head>
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="Lab webpage for the Greene Lab at Washington University in St. Louis School of Medicine">
        <meta name="author" content="Andrew Van">
        <link rel="icon" href="{% static 'common/img/favicon.ico' %}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#BFD8D2">
        <title>Greene Lab | {% block pagename %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
        <script>
        window.addEventListener("load", function(){
        window.cookieconsent.initialise({
          "palette": {
            "popup": {
              "background": "#000"
            },
            "button": {
              "background": "#f1d600"
            }
          }
        })});
        </script>
        <link href="https://fonts.googleapis.com/css?family=Comfortaa:300" rel="stylesheet">
        <link href="{% static 'common/css/foundation.css' %}" rel="stylesheet">
        <link href="{% static 'common/css/base.css' %}" rel="stylesheet">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103586837-4"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-103586837-4');
        </script>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div data-sticky-container></div>
        <div class="sticky" style="z-index:300;" data-sticky data-margin-top="0">
            <div class="title-bar" data-responsive-toggle="nav-menu" data-hide-for="Large" style="position:absolute;">
                <div class="hamburger hamburger-custom" data-toggle="nav-menu">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
        </div>

        <div class=sticky style="z-index:200;" data-sticky data-margin-top="0">
            <div class="top-bar" id="nav-menu" data-animate="slide-in-left slide-out-left" style="height:100vh;width:fit-content;position:absolute;display:none;padding:0px;">
                <div class="top-bar-left" style="height:100%;padding-top:75px;">
                    <ul class="vertical menu" data-dropdown-menu>
                        <li class="option {% block home %}{% endblock %}"><a href="{% url 'common:homepage' %}">home</a></li>
                        <li class="option {% block people %}{% endblock %}"><a href="{% url 'common:people' %}">lab members</a></li>
                        <li class="option {% block research %}{% endblock %}"><a href="{% url 'common:research' %}">research</a></li>
                        <li class="option {% block publications %}{% endblock %}"><a href="{% url 'common:publications' %}">publications</a></li>
                        <li class="option {% block participate %}{% endblock %}"><a href="{% url 'common:participate' %}">participate</a></li>
                        <li class="option {% block datasoftware %}{% endblock %}"><a href="{% url 'common:datasoftware' %}">data/software</a></li>
                        <li class="option {% block directions %}{% endblock %}"><a href="{% url 'common:directions' %}">directions</a></li>
                        <li class="option"><a href="https://dosenbachlab.wustl.edu/wiki/">wiki</a></li>
                        <li class="option {% block contact %}{% endblock %}"><a href="{% url 'common:contact' %}">contact</a></li>
                        <li class="option {% block joinus %}{% endblock %}"><a href="{% url 'common:joinus' %}">join us</a></li>
                    </ul>
                </div>
                <div class="top-bar-right">
                </div>
            </div>
        </div>

        {% block content %}
        {% endblock %}

    <!-- Scripts -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="https://fastcdn.org/FlowType.JS/1.1/flowtype.js"></script>
    <script src="{% static 'common/js/foundation.js' %}"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script>$(document).ready(()=>{
        $(document).foundation();$(".hamburger").click(function(){$(this).toggleClass("is-active");});});
        $('.responsive-text').flowtype({minimum:400,maximum:1000,minFont:6,maxFont:16,fontRatio:30});
    </script>
    {% block scripts %}
    {% endblock %}
    </body>
</html>
