{% extends "common/base.html" %}
{% load staticfiles %}

{% block head %}
<link href="{% static 'common/css/contact.css' %}" rel="stylesheet">
{% endblock %}

{% block contact %}active{% endblock %}

{% block content %}
<div class="grid-container full grid-frame color-bg con-col">
    <br><br>
    <div class="grid-x">
        <div class="cell small-8 small-offset-2">
            <h1 class="text-center">c o n t a c t</h1>
        </div>
    </div>
    <div class="grid-x responsive-text">
        <div class="cell small-8 small-offset-2">
            <p class="text-center">Please contact <strong>Jackie Hampton, Clinical Research Study Assistant</strong>, at
				<a style="white-space: nowrap;" href="mailto:jackiehampton@wustl.edu">jackiehampton@wustl.edu</a>
				or 314-362-4154 for more information about
				participating in our research or if you have general research study questions.</p>
			<p class="text-center">Our Mailing Address: </p>
			<p class="text-center" style="margin-bottom: 0px;">Jackie Hampton</p>
			<p class="text-center" style="margin-bottom: 0px;">Washington University School of Medicine</p>
			<p class="text-center" style="margin-bottom: 0px;">660 South Euclid Avenue</p>
			<p class="text-center" style="margin-bottom: 0px;">Campus Box 8111</p>
			<p class="text-center" style="margin-bottom: 0px;">St. Louis, MO 63110</p>
            <div class="grid-x">
                <div class="cell small-12 medium-10 medium-offset-1 large-8 large-offset-2">
                    <br>
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img style="max-width:100%;" src="https://cdn.rawgit.com/greenelabwustl/greenelabsite/greene/common/static/common/img/medical-school2.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="text-center" style="font-size: 12px">This site was designed and coded by <a href="mailto:vanandrew@wustl.edu">Andrew Van</a>.
    				View the source code<a target="_blank" href="https://github.com/greenelabwustl/greenelabsite"> here</a>.
    				Copyright (&copy;) 2018 Andrew Van.</p>
</div>
{% endblock %}

{% block scripts %}
<script>window.sr = ScrollReveal();sr.reveal('.grid-x',{duration:1000},50);</script>
{% endblock %}
