{% extends "common/base.html" %}
{% load staticfiles %}

{% block head %}
<link href="{% static 'common/css/directions.css' %}" rel="stylesheet">
<style>
</style>
{% endblock %}

{% block content %}
<div class="grid-container full grid-frame color-bg dir-col">
    <br><br>
    <div class="grid-x">
        <div class="cell small-8 small-offset-2">
            <h1 class="text-center">d i r e c t i o n s</h1>
        </div>
    </div>
    <div class="grid-x responsive-text">
        <div class="cell small-8 small-offset-2">
            <div class="grid-x">
                <div class="cell small-12">
                    <h6 class="text-center">We are located at Washington University Medical Campus, 4525 Scott Avenue, St. Louis, MO, 63110 in the East Building.</h6>
                    <div class="responsive-embed widescreen map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3116.5859198738463!2d-90.261197!3d38.635406!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87d8b4df12c2afab%3A0xc814cc6b42b83971!2s4525+Scott+Ave%2C+St.+Louis%2C+MO+63110!5e0!3m2!1sen!2sus!4v1525586336117" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="cell small-12 medium-6">
                    <h4>From 64/40 Westbound</h4>
                </div>
                <div class="cell small-12 medium-6">
                    <p>Take exit 36 for Kingshighway</p>
                    <p>Keep right at the fork to go north on Kingshighway Blvd</p>
                    <p>Merge onto Kingshighway Blvd</p>
                    <p>Turn right at Forest Park Ave</p>
                    <p>Turn right at S Taylor Ave</p>
                    <p>Turn right at Scott Ave</p>
                    <br>
                </div>
                <div class="cell small-12 medium-6">
                    <h4>From 170</h4>
                </div>
                <div class="cell small-12 medium-6">
                    <p>Take exit 1E to merge onto Forest Park Pkwy</p>
                    <p>Continue on Forest Park Ave</p>
                    <p>Turn right at S Taylor Ave</p>
                    <p>Turn right at Scott Ave</p>
                    <br>
                </div>
                <div class="cell small-12 medium-6">
                    <h4>From 44 Eastbound</h4>
                </div>
                <div class="cell small-12 medium-6">
                        <p>Take exit 287A for Kingshighway</p>
                        <p>Turn left to go north on Kingshighway Blvd</p>
                        <p>Turn right at Forest Park Ave</p>
                        <p>Turn right at S Taylor Ave</p>
                        <p>Turn right at Scott Ave</p>
                        <br>
                </div>
                <div class="cell small-12 medium-6">
                    <h4>From 44 Westbound</h4>
                </div>
                <div class="cell small-12 medium-6">
                        <p>Take exit 287B-A for Vandeventer Ave toward Kingshighway</p>
                        <p>Slight right at McRee Ave (follow signs for Kingshighway)</p>
                        <p>Turn right to go north on Kingshighway Blvd</p>
                        <p>Turn right at Forest Park Ave</p>
                        <p>Turn right at S Taylor Ave</p>
                        <p>Turn right at Scott Ave</p>
                </div>
            </div>
        </div>
        <div class="cell small-8 small-offset-2 responsive-text">
            <h3>Metro</h3>
			<p>If you are traveling by Metro bus or train, please use the <strong>Central West End Metro Bus Center</strong> stop
				as your final destination. You are then able to head East to reach Taylor Street. You will head South
				on Taylor Street and then turn right directly onto Scott Avenue. You will see the East Building on
				your right.</p>
			<p>Please see the <a target="_blank" href="https://www.metrostlouis.org/trip-planner">Metro Trip Planner</a> to find the best route for you.</p>
        </div>
        <div class="cell small-8 small-offset-2 responsive-text">
            <h3>Parking</h3>
			<p>Directly across the street (Scott Avenue) from the front doors of the building is a small
				row of parking spaces. Please park in the designated spaces that read
				<strong>“Reserved for Radiology Research Patients Only.”</strong> This is free to research participants and
				there should be an open spot for you. A research team member will place a parking pass on your windshield.</p>
            <div class="grid-x">
                <div class="cell small-12 medium-10 medium-offset-1 large-8 large-offset-2">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img style="max-width:100%;" src="https://cdn.rawgit.com/greenelabwustl/greenelabsite/greene/common/static/common/img/parking1.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cell small-12 medium-10 medium-offset-1 large-8 large-offset-2">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img style="max-width:100%;" src="https://cdn.rawgit.com/greenelabwustl/greenelabsite/greene/common/static/common/img/parking2.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cell small-12 medium-5 medium-offset-1 large-4 large-offset-2">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img style="max-width:100%;" src="https://cdn.rawgit.com/greenelabwustl/greenelabsite/greene/common/static/common/img/parking3.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cell small-12 medium-5 large-4">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                <img style="max-width:100%;" src="https://cdn.rawgit.com/greenelabwustl/greenelabsite/greene/common/static/common/img/parking4.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>window.sr = ScrollReveal();sr.reveal('.grid-x',{duration:1000},50);</script>
{% endblock %}
