{% extends "common/base.html" %}
{% load staticfiles %}

{% block pagename %}home{% endblock %}

{% block head %}
<meta name="google-site-verification" content="xwzSPEXmTu9iES7O7XWZLX4FUpC4s2-83R3FlIyUBCY" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
<link href="{% static 'common/css/pace-theme-center-circle.min.css' %}" rel="stylesheet">
<link href="{% static 'common/css/home.css' %}" rel="stylesheet">
<link href="{% static 'common/css/controls.css' %}" rel="stylesheet">
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
{% endblock %}

{% block home %}active{% endblock %}

{% block content %}
<!--Add arrow to scroll down-->
<div class="grid-x">
    <div class="cell medium-12 large-12">
        <div class="grid-y grid-frame align-center-middle main-block animation-block">
            <div class="grid-container fluid canvas-container grid-frame"></div>
            <div class="animation-ui" style="bottom:5%;right:5%;">
                <h4 class="region-display" style="font-size:2.5vmin;"></h4>
            </div>
            <div class="animation-ui" style="bottom:5%;left:5%;">
                <p class="title-text" style="font-size:8vmin;">greene lab</p>
            </div>
            <div id="scrolldown" class="animation-ui" style="bottom:1%;left:50%;font-size:2em;">
                <i class="fas fa-angle-double-down"></i>
            </div>
        </div>
    </div>
</div>
<div class="grid-x">
    <div class="cell medium-12 large-6">
        <div class="grid-y grid-frame align-center-middle text-center home-block lab-member" style="background-color:#85DCB0;">
            <div class="bg-block"></div>
            <h1><a class="home-text" href="{% url 'common:people' %}">lab members</a></h1>
        </div>
    </div>
    <div class="cell medium-12 large-6">
        <div class="grid-y grid-frame align-center-middle text-center home-block research" style="background:#DCB239;">
            <div class="bg-block"></div>
            <h1><a class="home-text" href="{% url 'common:research' %}">research</a></h1>
        </div>
    </div>
</div>
<div class="grid-x">
    <div class="cell medium-12 large-6">
        <div class="grid-y grid-frame align-center-middle text-center home-block publications" style="background:#FEDCD2;">
            <div class="bg-block"></div>
            <h1><a class="home-text" href="{% url 'common:publications' %}">publications</a></h1>
        </div>
    </div>
    <div class="cell medium-12 large-6">
        <div class="grid-y grid-frame align-center-middle text-center home-block participate" style="background:#E1B2C3;">
            <div class="bg-block"></div>
            <h1><a class="home-text" href="{% url 'common:participate' %}">participate</a></h1>
        </div>
    </div>
</div>
<div class="grid-x">
    <div class="cell medium-12 large-6">
        <div class="grid-y grid-frame align-center-middle text-center home-block data-software" style="background:#DF744A;">
            <div class="bg-block"></div>
            <h1><a class="home-text" href="{% url 'common:datasoftware' %}">data/software</a></h1>
        </div>
    </div>
    <div class="cell medium-12 large-6">
        <div class="grid-y grid-frame align-center-middle text-center home-block directions" style="background:#77C9D4;">
            <div class="bg-block"></div>
            <h1><a class="home-text" href="{% url 'common:directions' %}">directions</a></h1>
        </div>
    </div>
</div>
<div class="grid-x">
    <div class="cell medium-12 large-6">
        <div class="grid-y grid-frame align-center-middle text-center home-block wiki" style="background:#4484CE;">
            <div class="bg-block"></div>
            <h1><a class="home-text" href="https://dosenbachlab.wustl.edu/wiki/">wiki</a></h1>
        </div>
    </div>
    <div class="cell medium-12 large-6">
        <div class="grid-y grid-frame align-center-middle text-center home-block contact" style="background:#DCC7AA;">
            <div class="bg-block"></div>
            <h1><a class="home-text" href="{% url 'common:contact' %}">contact</a></h1>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- Javascript -->
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="{% static 'common/js/foundation.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/92/three.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.2/dat.gui.min.js"></script>
<script>$('#scrolldown').click(()=>{$('html,body').animate({scrollTop:$('.grid-x').height()},1000);});</script>
<script src="{% static 'common/js/OrbitControls.js' %}"></script>
<script src="https://cdn.rawgit.com/greenelabwustl/greenelabsite/updatedsurfaces/common/static/common/js/MSC06_networks_32k.js"></script>
<script src="https://cdn.rawgit.com/greenelabwustl/greenelabsite/greene/common/static/common/js/MSC06.L.pial.32k.js"></script>
<script src="https://cdn.rawgit.com/greenelabwustl/greenelabsite/greene/common/static/common/js/MSC06.R.pial.32k.js"></script>
<script src="{% static 'common/js/brainanimation.js' %}"></script>
{% endblock %}
