{% extends "common/base.html" %}
{% load staticfiles %}

{% block head %}
<link href="{% static 'common/css/people.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="grid-container full grid-frame color-bg person-col responsive-text">
    <br><br>
    <div class="grid-x">
        <div class="cell small-8 small-offset-2">
            <h1 class="text-center">l a b&nbsp;&nbsp;&nbsp;&nbsp;m e m b e r s</h1>
        </div>
    </div>
    <div class="grid-x">
        {% for person in members %}
        <div class="cell small-10 small-offset-1 large-8 large-offset-2 person-box">
            <div class="grid-x">
                <div class="cell small-8 small-offset-2 medium-4 medium-offset-4 large-3 large-offset-0">
                    <div class="media-object">
                        <div class="media-object-section">
                            <div class="thumbnail">
                                {% if person.photo %}
                                <img style="max-width:100%;" src="{{ person.photo.url }}">
                                {% else %}
                                <img style="max-width:100%;" src="https://cdn.rawgit.com/greenelabwustl/greenelabsite/greene/common/static/common/img/person-placeholder.jpg">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cell small-10 small-offset-1 large-8 large-offset-1">
                    <h4>{{ person.first_name }} {{ person.last_name }}</h4>
                    <p>{% if person.title %}Title: {{ person.title }}{% endif %} {% if person.title and person.email %}|{% endif %}
                       {% if person.email %}Email: {{ person.email }}{% endif %} {% if person.email and person.phone %}|{% endif %}
                       {% if person.phone %}Phone: {{ person.phone }}{% endif %}</p>
                    {% autoescape off %}
                    {{ person.blurb }}
                    {% endautoescape %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
