.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.ds-box {
    padding: 20px 20px 20px 20px;
    margin: 20px auto 20px auto;
    background-color: rgba(34,34,34,0.15);
    border-radius: 5px;
    min-height: 300px;
}
.color-bg {
    background-color: #BFD8D2;
}
.ds-col {
    min-height: 100vh;
}
